<nav style="height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-center text-white text-decoration-none">
        <i class="fa-solid fa-lg fa-house me-2"></i>
        <span class="fs-4">SACC</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="/dashboard" class="nav-link text-white">
                <i class="fa-solid fa-lg fa-gauge me-2"></i>
                Dashboard 
            </a>
        </li>
        <li class="nav-item">
            <a href="/stations_info" class="nav-link text-white">
                <i class="fa-solid fa-lg fa-location-pin me-2"></i>
                Stations 
            </a>
        </li>
        <li class="nav-item">
            <a href="/client" class="nav-link text-white">
                <i class="fa-solid fa-lg fa-user me-2"></i>
                Client
            </a>
        </li>
        <li class="nav-item">
            <a href="/operator" class="nav-link text-white">
                <i class="fa-solid fa-lg fa-user-cog me-2"></i>
                Operator
            </a>
        </li>
        
        
</nav>
