<div class="container mt-4">
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Información de Reserva</h5>
            <p class="card-text"><strong>Fecha de Reserva:</strong> {{ reservation.reservation_date }}</p>
            <p class="card-text"><strong>Cliente:</strong> {{ reservation.client.mail }}</p>
            <p class="card-text"><strong>Operador:</strong> {{ reservation.operator.mail }}</p>
        </div>
    </div>

    {% if cancel_info %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Cancelación</h5>
            <p class="card-text"><strong>Fecha de Cancelación:</strong> {{ cancel_info.cancel_date }}</p>
            <p class="card-text"><strong>Cancelado por:</strong> {{ reservation.client.mail }}</p>
        </div>
    </div>
    {% endif %}

    {% if confirmed_info %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Confirmación</h5>
            <p class="card-text"><strong>Fecha de Confirmación:</strong> {{ confirmed_info.confirmation_date }}</p>
            <p class="card-text"><strong>Confirmado por:</strong> {{ reservation.client.mail }}</p>
        </div>
    </div>
    {% endif %}

    {% if loaded_info %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Cargado</h5>
            <p class="card-text"><strong>Fecha de Cargado:</strong> {{ loaded_info.load_date }}</p>
            <p class="card-text"><strong>Cargado por:</strong> {{ reservation.operator.mail }}</p>
        </div>
    </div>
    {% endif %}

    {% if retrieved_info %}
    <div class="card mb-3">
        <div class="card-body">
            <h5 class="card-title">Retirado</h5>
            <p class="card-text"><strong>Fecha de Retirado:</strong> {{ retrieved_info.retrieved_date }}</p>
            <p class="card-text"><strong>Retirado por:</strong> {{ reservation.client.mail }}</p>
        </div>
    </div>
    {% endif %}
</div>